#randomrecipe{
    background-color: rgb(195, 223, 223);
    border-radius: 10px;
    justify-content: center;
    margin-top: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}